.about-project__table-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  word-spacing: 1.2px;
  margin-top: 26px;
}

@media screen and (max-width: 767px) {
  .about-project__table-text {
    font-size: 12px;
    line-height: 18px;
  }
}