.profile__edit {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 16px;
  transition: opacity .2s ease-in-out;
}
.profile__edit:hover {
  opacity: .7;
}
.profile__edit::after {
  display: block;
  content: '';
  border-bottom: solid 1px #fff;
  padding-bottom: 3px; 
  transform: scaleX(0);  
  transition: transform .2s ease-in-out;
}

.profile__edit:hover:after {
  transform: scaleX(1);
}