.search-form__checkbox-caption {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin: auto 20px auto 15px;
}

@media screen and (max-width: 500px) {
  .search-form__checkbox-caption {
    font-size: 11px;
    line-height: 18px;
    margin-right: 0;
  }
}




