.movie-card-list__catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 360px);
  row-gap: 30px;
  column-gap: 30px;
  padding: 0;
  margin: 70px 0;
}

@media screen and (max-width: 767px) {
  .movie-card-list__catalog {
    grid-template-columns: repeat(auto-fit, 340px);
  }
}
@media screen and (max-width: 500px) {
  .movie-card-list__catalog {
    grid-template-columns: repeat(auto-fit, 300px);
    margin: 40px 10px;
    row-gap: 54px;
  }
}