.link_error {
  color: #4285F4;
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.link_error::after {
  border-bottom: solid 2px #4285F4;
  padding-bottom: 5px; 
  margin-bottom: 60px;
}
