.movies-card-list {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  margin-left: 70px;
  margin-right: 70px;
  align-self: center;
}

.movies-card-list:before {
  content: '';
  border: 1px solid #424242;
  margin-bottom: 10px;
}