.profile__signout {
  color: #EE3465;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  transition: opacity .2s ease-in-out;
}

.profile__signout::after {
  display: block;
  content: '';
  border-bottom: solid 1px #EE3465;
  padding-bottom: 3px; 
  transform: scaleX(0);  
  transition: transform .2s ease-in-out;
}

.profile__signout:hover:after {
  transform: scaleX(1);
}
