.search-form__input {
  background-color:transparent;
  border: none;
  outline: none;
  color: #fff;
  padding-left: 19px;
  width: 100%;
  height: 72px;
}

.search-form__input::placeholder {
  color: #8B8B8B;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  padding-left: 42px;
  background-image: url(../../../images/search_icon.svg);
  background-repeat: no-repeat;
  background-position-y: -6px;
  transition: opacity .3s ease-in-out;

}

.search-form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}