.techs__container {
  display: flex;
  flex-direction: column;
  margin: 100px 70px;
}

@media screen and (max-width: 767px) {
  .techs__container {
    margin: 90px 50px;
  }
}

@media screen and (max-width: 400px) {
  .techs__container {
    margin: 70px 18px;
  }
}