.about-project__table-cell {
  list-style-type: none;

}

.about-project__table-cell:first-of-type {
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .about-project__table-cell:first-of-type {
    margin-right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .about-project__table-cell:first-of-type {
    margin-right: auto;
    margin-bottom: 56px;
  }
}
