.portfolio__link {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
}

@media screen and (max-width: 1050px) {
  .portfolio__link {
    font-size: 28px;
  }
}