.about-project__title {
  margin-top: 123px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 0;
}

.about-project__title::after {
  content: '';
  border-bottom: 1px #DADADA solid;
  padding: 23px
}