.about-me__avatar {
  background-image: url(../../../../images/avatar.jpg);
  width: 270px;
  height: 327px;
  background-position: center;
  border-radius: 3px;
  margin: 0 0 auto auto;
}

@media screen and (max-width: 767px) {
  .about-me__avatar {
    width: 255px;
    height: 307px;
  }
}