.about-me__avatar {
  background-image: url(../../../../images/avatar.jpg);
  max-width: 270px;
  max-height: 327px;
  background-position: center;
  border-radius: 3px;
  margin: 66px 0 auto auto;
  width: 100%;
  height: 100%;
}