.footer__row-link {
  margin: 0 0 0 20px;
  text-decoration: none;
  list-style-type: none;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  transition: opacity .2s ease-in-out;
}

.footer__row-link:first-child {
  margin-left: 0;
}

.footer__row-link:hover {
  opacity: .7;
}

.footer__row-link::after {
  display: block;
  content: '';
  border-bottom: solid 1px #fff;
  padding-bottom: 2px; 
  transform: scaleX(0);  
  transition: transform .2s ease-in-out;
  opacity: .7;
}

.footer__row-link:hover:after {
  transform: scaleX(1);
}

.footer__row-link.fromRight:after{
  transform-origin:100% 50%;
}

.footer__row-link.fromLeft:after{
  transform-origin:  0% 50%;
}