.register__registration-link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-left: 6px;
  color: #4285F4;
  text-decoration: none;
  transition: opacity .2s ease-in-out;
}

.register__registration-link:hover {
  opacity: .7;
}

.register__registration-link::after {
  display: block;
  content: '';
  border-bottom: solid 2px #4285F4;
  padding-bottom: 3px; 
  transform: scaleX(0);  
  transition: transform .2s ease-in-out;
  opacity: .7;
  margin-left: 176px;
}

.register__registration-link:hover:after {
  transform: scaleX(1);
}

.register__registration-link.fromRight:after{
  transform-origin:100% 50%;
}

.register__registration-link.fromLeft:after{
  transform-origin:  0% 50%;
}