.link_footer {
  margin: 0 0 0 20px;
  list-style-type: none;
  line-height: 16px;

}
.link_footer:first-child {
  margin-left: 0;
}


@media screen and (max-width: 500px) {
  .link_footer {
    flex-direction: column;
    padding: 0;
    margin: auto;
  }
  .link_footer:first-child {
    margin: auto auto 8px;
  }
  .link_footer:last-child {
    margin: 5px auto 30px;
  }

}
